<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
  <div class="row">
    <div class="col-xs-6">
      <h3>Line:</h3>

      <div class="panel panel-default">
        <div>{{JSON.stringify(line)}}</div>
      </div>
    </div>
    <div class="col-xs-6">
      <h3>Error:</h3>

      <div class="panel panel-default">
        <span ng-show="err.name != null">
          <div>
            <div>Error: {{err.name}}</div>
            <div>Line: {{err.line}}, column: {{err.column}} </div>
            <div>Message: {{err.message}}</div>
          </div>
        </span>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-6">
      <h3>Log:</h3>
      <div class="panel panel-default">
        {{log}}
      </div>
    </div>
    <div class="col-xs-6">
      <h3>Say:</h3>
      <div class="panel panel-default">
        {{say}}
      </div>
    </div>
  </div>
</div>

<div class="container">
  <!--
    <div class="row">
      <div class="col-lg-12">
        <button class="btn" ng-click="emitTest()">Send Test</button>
      </div>
    </div>
  -->

  <div class="row">
    <div class="col-lg-12">
      <div class="btn-group">
        <button class="btn btn-primary" ng-click="emitCommand('cylon_start')">Cylon Start</button>
        <button class="btn btn-primary" ng-click="emitCommand('cylon_halt')">Cylon Halt</button>
        <button class="btn btn-primary" ng-click="emitCommand('run')">Run</button>
        <button class="btn btn-primary" ng-click="emitCommand('stop')">Stop</button>
      </div>
    </div>
  </div>
  <br/>

  <div class="row">
    <div class="col-lg-12"><textarea ng-model="code" name="code" id="code" cols="60" rows="10"></textarea></div>
    <div class="col-lg-12">
      <button class="btn btn-primary" ng-click="emitCommand('load', code)">Load</button>
    </div>
  </div>
</div>

<footer class="footer">
  <div class="container">
    <p>Angular Fullstack v2.0.13 |
      <a href="https://twitter.com/tyhenkel">@tyhenkel</a> |
      <a href="https://github.com/DaftMonk/generator-angular-fullstack/issues?state=open">Issues</a></p>
  </div>
</footer>
